.masonry-wrapper {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  max-width: 1260px;
  margin: 0 auto;

  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "d1 d7"
    "d2 d11"
    "d5 d3"
    "d10 d15";

  @include breakpoint-up(sm) {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "d1 d4 d15"
      "d2 d4 d7"
      "d11 d3 d5";
  }

  @include breakpoint-up(md) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "d1 d4 d15 d6"
      "d2 d4 d7 d11"
      "d3 d5 d8 d8";
  }

  @include breakpoint-up(lg) {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
      "d1 d4 d6 d9 d9"
      "d2 d4 d7 d11 d12"
      "d3 d5 d8 d8 d15";
  }

  @include breakpoint-up(xl) {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      "d1 d4 d6 d9 d9 d10"
      "d2 d4 d7 d11 d12 d13"
      "d3 d5 d8 d8 d14 d15";
  }

  div {
    max-height: 280px;
    overflow: hidden;
    box-sizing: border-box;

    @include breakpoint-up(sm) {
      max-height: none;
    }

    img {
      width: 100%;
      height: 100%;
      transform: scale(1.1);
      transition: 0.3s all ease-in-out;
      filter: grayscale(1);

      &:hover {
        filter: none;
        transition: 0.3s all ease-in-out;
        transform: scale(1);
      }
    }

    &.text-block {
      filter: none;
      transition: none;

      a {
        color: white !important;
        text-decoration: none;
      }
    }
  }
}

.text-block {
  font-family: "regular";
  font-size: 20px;
  padding: 16px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

.d1 {
  grid-area: d1;
  background-color: $color-beige;
  color: white;
}

.d2 {
  grid-area: d2;
}

.d3 {
  grid-area: d3;
}

.d5 {
  grid-area: d5;
  background-color: $color-yellow;
  color: white;
}

.d4 {
  grid-area: d4;
  display: none;

  @include breakpoint-up(sm) {
    display: block;
  }
}

.d6 {
  grid-area: d6;
  display: none;
  @include breakpoint-up(md) {
    display: block;
  }
}

.d7 {
  grid-area: d7;
}

.d8 {
  grid-area: d8;
  display: none;
  @include breakpoint-up(md) {
    display: block;
  }
}

.d9 {
  grid-area: d9;
  display: none;
  @include breakpoint-up(lg) {
    display: block;
  }
}

.d10 {
  grid-area: d10;

  @include breakpoint-up(sm) {
    display: none;
  }

  @include breakpoint-up(xl) {
    display: block;
  }
}

.d11 {
  grid-area: d11;
  background-color: $color-blue;
  color: white;
}

.d12 {
  grid-area: d12;
  display: none;
  @include breakpoint-up(lg) {
    display: block;
  }
}

.d13 {
  grid-area: d13;
  display: none;
  @include breakpoint-up(xl) {
    display: block;
  }
}

.d14 {
  grid-area: d14;
  display: none;
  @include breakpoint-up(xl) {
    display: block;
  }
}

.d15 {
  grid-area: d15;
  background-color: $color-purple;
  color: white;
}
