nav {
  max-width: 900px;
  background: white;
}
@media (min-width: 992px) {
  nav {
    margin: 0 auto;
  }
}
nav.show .menu {
  display: flex;
}
nav.show .menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (min-width: 992px) {
  nav.show .menu-wrapper {
    position: static;
    width: 100%;
    height: auto;
  }
}
nav.show .nav-backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 992px) {
  nav.show .nav-backdrop {
    display: none;
  }
}
nav .nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column wrap;
  position: absolute;
  width: 100%;
  z-index: 3;
  background-color: white;
  padding-top: 20px;
}
@media (min-width: 992px) {
  nav .nav-top {
    flex-flow: row wrap;
    position: relative;
    padding-top: 0;
  }
}
nav .nav-top .logo {
  align-self: flex-start;
  margin-left: 20px;
  width: 245px;
  height: auto;
}
@media (min-width: 992px) {
  nav .nav-top .logo {
    margin-left: 0;
    align-self: auto;
  }
}
nav .nav-top a {
  width: 100%;
}
@media (min-width: 992px) {
  nav .nav-top a {
    width: auto;
  }
}
nav .nav-top button {
  font-size: 16px;
  line-height: 24px;
  background-color: rgb(75, 40, 46);
  color: white;
  border: 0;
  outline: none;
  cursor: pointer;
  font-family: "Libre Franklin", sans-serif;
  width: 100%;
  padding: 4px 0;
  margin: 16px 0 0 0;
}
@media (min-width: 992px) {
  nav .nav-top button {
    width: auto;
    padding: 6px 16px;
    margin: 0;
    border-radius: 4px;
    margin: 16px 0 32px 0;
  }
}
nav .nav-top .menu-button {
  position: absolute;
  top: 30px;
  right: 16px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}
@media (min-width: 992px) {
  nav .nav-top .menu-button {
    display: none;
  }
}
nav .nav-top .menu-button span {
  width: 32px;
  height: 4px;
  background-color: black;
  display: block;
  transition: 0.2s all ease-in-out;
}
nav .nav-top .menu-button span:before {
  content: "";
  position: absolute;
  top: -8px;
  width: 32px;
  height: 4px;
  background-color: black;
  transform: none;
  display: block;
  transition: 0.2s all ease-in-out;
}
nav .nav-top .menu-button span:after {
  content: "";
  position: absolute;
  top: 8px;
  width: 32px;
  height: 4px;
  background-color: black;
  transform: none;
  transition: 0.2s all ease-in-out;
  display: block;
}
nav .nav-top .menu-button.active span {
  background-color: transparent;
  transition: 0.2s all ease-in-out;
}
nav .nav-top .menu-button.active span:before {
  top: 0;
  transform: rotate(45deg);
  transition: 0.2 all ease-in-out;
  border-radius: 0;
  height: 4px;
}
nav .nav-top .menu-button.active span:after {
  top: 0;
  transform: rotate(-45deg);
  transition: 0.2s all ease-in-out;
  border-radius: 0;
  height: 4px;
}
nav .menu {
  list-style-type: none;
  padding: 0;
  flex-flow: column nowrap;
  font-family: "Libre Franklin", sans-serif;
  line-height: 24px;
  z-index: 3;
  width: 100%;
  margin: 0;
  display: none;
  height: calc(100% - 96px);
  margin-top: 96px;
  overflow: auto;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 992px) {
  nav .menu {
    padding: 24px 0 24px 0;
    flex-flow: row wrap;
    position: relative;
    justify-content: center;
    z-index: auto;
    margin: 20px 0 0 0;
    display: flex;
    top: 0;
    margin-top: 0;
    height: auto;
    overflow: initial;
    background-color: white;
  }
}
nav .menu li {
  margin: 0;
  border-bottom: 1px solid #e3e3e3;
  background-color: white;
}
@media (min-width: 992px) {
  nav .menu li {
    margin: 0 8px;
    border-bottom: 0;
  }
}
nav .menu li a {
  background: none;
  border: none;
  color: #333;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
  text-decoration: none;
  display: block;
}
@media (min-width: 992px) {
  nav .menu li a {
    display: inline;
    padding: 0 20px 10px 20px;
  }
}
nav .menu li a::after {
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: #333;
  transition: all 0.3s ease;
}
@media (min-width: 992px) {
  nav .menu li a::after {
    content: "";
  }
}
nav .menu li a:hover::after {
  width: 100%;
  left: 0;
}
nav .menu li a:focus {
  color: #555;
}
nav .vara-tjanster-header {
  display: flex !important;
  justify-content: space-between;
  background: none;
  border: none;
  color: #333;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
  text-decoration: none;
  display: block;
  width: 100%;
  font-family: regular;
}
@media (min-width: 992px) {
  nav .vara-tjanster-header {
    display: inline;
    padding: 0 20px 10px 20px;
  }
}
nav .vara-tjanster-header::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: #333;
  transition: all 0.3s ease;
}
nav .vara-tjanster-header:hover::after {
  width: 100%;
  left: 0;
}
nav .vara-tjanster-header:focus {
  color: #555;
}
nav .vara-tjanster-header .chevron {
  width: 20px;
  height: 3px;
  background-color: #333;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
nav .vara-tjanster-header .chevron:after {
  content: " ";
  width: 20px;
  height: 3px;
  background-color: #333;
  position: absolute;
  transform: rotate(90deg);
  transition: 0.2s all ease-in-out;
  left: 0;
}
@media (min-width: 992px) {
  nav .vara-tjanster-header .chevron {
    display: none;
  }
}
@media (min-width: 992px) {
  nav .vara-tjanster-header {
    display: inline !important;
  }
}
nav .vara-tjanster.show .vara-tjanster-menu-wrapper {
  display: block;
}
nav .vara-tjanster.show .chevron:after {
  transform: rotate(0);
  transition: 0.2s all ease-in-out;
}
@media (min-width: 992px) {
  nav .vara-tjanster:hover .vara-tjanster-menu-wrapper {
    display: block;
  }
  nav .vara-tjanster:hover .vara-tjanster-menu {
    display: grid;
  }
  nav .vara-tjanster:hover .vara-tjanster-backdrop {
    display: block;
  }
}
nav .vara-tjanster-menu-wrapper {
  display: none;
  background-color: #e0e0e0;
}
@media (min-width: 992px) {
  nav .vara-tjanster-menu-wrapper {
    position: absolute;
    display: none;
    padding-top: 37px;
    height: 150px;
    right: 0;
    left: 0;
    z-index: 3;
    display: none;
    background-color: transparent;
  }
}
nav .vara-tjanster-backdrop {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 142px;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 2;
}
@media (min-width: 992px) {
  nav .vara-tjanster-backdrop:hover {
    display: none !important;
  }
}
@media (min-width: 992px) {
  nav .vara-tjanster-menu {
    position: absolute;
    z-index: 1;
    padding: 32px;
    border-radius: 4px;
    background-color: white;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "left middle right";
    margin: 0 48px 0 48px;
    display: none;
  }
  nav .vara-tjanster-menu:before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: white;
    position: absolute;
    top: -6px;
    left: 57%;
    transform: rotate(45deg);
  }
}
nav .vara-tjanster-menu ul {
  list-style: none;
  padding-left: 0;
}
nav .vara-tjanster-menu ul li {
  margin-left: 16px;
  border-bottom: 1px solid #c9c9c9;
  margin-left: 0;
  padding-left: 16px;
  background-color: transparent;
}
@media (min-width: 992px) {
  nav .vara-tjanster-menu ul li {
    padding-left: 0;
    margin: 0 0 16px 0;
    border: 0;
  }
}
@media (min-width: 992px) {
  nav .vara-tjanster-menu ul li a::after {
    height: 0;
  }
}
nav .left {
  grid-area: left;
}
nav .middle {
  grid-area: middle;
}
nav .right {
  grid-area: right;
}

.masonry-wrapper {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  max-width: 1260px;
  margin: 16px auto 0 auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "d1 d7" "d2 d11" "d5 d3" "d10 d15";
}
@media (min-width: 576px) {
  .masonry-wrapper {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "d1 d4 d15" "d2 d4 d7" "d11 d3 d5";
  }
}
@media (min-width: 768px) {
  .masonry-wrapper {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "d1 d4 d15 d6" "d2 d4 d7 d11" "d3 d5 d8 d8";
  }
}
@media (min-width: 992px) {
  .masonry-wrapper {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "d1 d4 d6 d9 d9" "d2 d4 d7 d11 d12" "d3 d5 d8 d8 d15";
  }
}
@media (min-width: 1200px) {
  .masonry-wrapper {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "d1 d4 d6 d9 d9 d10" "d2 d4 d7 d11 d12 d13" "d3 d5 d8 d8 d14 d15";
  }
}
.masonry-wrapper div {
  max-height: 280px;
  overflow: hidden;
  box-sizing: border-box;
}
@media (min-width: 576px) {
  .masonry-wrapper div {
    max-height: none;
  }
}
.masonry-wrapper div img {
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  transition: 0.3s all ease-in-out;
  filter: grayscale(1);
}
.masonry-wrapper div img:hover {
  filter: none;
  transition: 0.3s all ease-in-out;
  transform: scale(1);
}
.masonry-wrapper div.text-block {
  filter: none;
  transition: none;
}
.masonry-wrapper div.text-block a {
  color: white !important;
  text-decoration: none;
}

.text-block {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
  padding: 16px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

.d1 {
  grid-area: d1;
  background-color: rgb(208, 199, 182);
  color: white;
}

.d2 {
  grid-area: d2;
}

.d3 {
  grid-area: d3;
}

.d5 {
  grid-area: d5;
  background-color: rgb(197, 177, 116);
  color: white;
}

.d4 {
  grid-area: d4;
  display: none;
}
@media (min-width: 576px) {
  .d4 {
    display: block;
  }
}

.d6 {
  grid-area: d6;
  display: none;
}
@media (min-width: 768px) {
  .d6 {
    display: block;
  }
}

.d7 {
  grid-area: d7;
}

.d8 {
  grid-area: d8;
  display: none;
}
@media (min-width: 768px) {
  .d8 {
    display: block;
  }
}

.d9 {
  grid-area: d9;
  display: none;
}
@media (min-width: 992px) {
  .d9 {
    display: block;
  }
}

.d10 {
  grid-area: d10;
}
@media (min-width: 576px) {
  .d10 {
    display: none;
  }
}
@media (min-width: 1200px) {
  .d10 {
    display: block;
  }
}

.d11 {
  grid-area: d11;
  background-color: rgb(101, 169, 180);
  color: white;
}

.d12 {
  grid-area: d12;
  display: none;
}
@media (min-width: 992px) {
  .d12 {
    display: block;
  }
}

.d13 {
  grid-area: d13;
  display: none;
}
@media (min-width: 1200px) {
  .d13 {
    display: block;
  }
}

.d14 {
  grid-area: d14;
  display: none;
}
@media (min-width: 1200px) {
  .d14 {
    display: block;
  }
}

.d15 {
  grid-area: d15;
  background-color: rgb(75, 40, 46);
  color: white;
}

footer {
  margin: 34px 0 0 0;
  background-color: black;
  color: white;
  padding: 0 16px 48px 16px;
}
@media (min-width: 992px) {
  footer {
    padding: 0 32px 32px 32px;
  }
}
footer .footer-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0px 0px;
  grid-template-areas: "header" "right" "left";
  margin: 0 auto;
  max-width: 900px;
  font-size: 16px;
  line-height: 24px;
}
@media (min-width: 992px) {
  footer .footer-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header" "left right";
  }
}
footer .footer-wrapper h2 {
  font-size: 18px;
}
footer .footer-wrapper a, footer .footer-wrapper a:visited, footer .footer-wrapper a:active {
  color: white;
}
footer .footer-wrapper .header {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 800;
  display: block;
  margin-bottom: 4px;
}
footer .footer-header {
  grid-area: header;
  margin: 32px 0 16px 0;
}
footer .footer-left {
  grid-area: left;
  padding-right: 8px;
}
footer .footer-right {
  grid-area: right;
  padding-bottom: 32px;
}
@media (min-width: 992px) {
  footer .footer-right {
    padding-left: 8px;
  }
}
footer .footer-contact-phone,
footer .footer-contact-email {
  display: flex;
}
footer .footer-contact-phone a,
footer .footer-contact-phone span,
footer .footer-contact-email a,
footer .footer-contact-email span {
  display: block;
  margin: 12px 0;
  width: 150px;
}

body {
  font-family: "Libre Franklin", sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

p {
  line-height: 30px;
  font-size: 17px;
  margin: 24px 0;
}

h1 {
  font-size: 48px;
}

h1,
h2,
h3 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 800;
}

section {
  margin-bottom: 32px;
  max-width: 900px;
  margin: 0 auto;
}
@media (min-width: 992px) {
  section {
    margin-bottom: 64px;
  }
}

header {
  top: 0;
  z-index: 2;
  background-color: white;
  position: sticky;
}
@media (min-width: 992px) {
  header {
    padding: 20px 16px 0 16px;
  }
}

main {
  margin: 0 auto;
  max-width: 1260px;
  padding: 128px 16px 16px 16px;
}
@media (min-width: 992px) {
  main {
    padding: 0 32px 32px 32px;
  }
}

.gallery {
  width: 100%;
  overflow-x: auto;
}
.gallery .gallery-wrapper {
  display: flex;
}
.gallery .gallery-wrapper .gallery-item {
  height: 180px;
  margin: 4px;
  box-sizing: border-box;
}
@media (min-width: 992px) {
  .gallery .gallery-wrapper .gallery-item {
    height: 300px;
  }
}
.gallery .gallery-wrapper .gallery-item img {
  display: block;
  height: 100%;
}/*# sourceMappingURL=styles.css.map */