@import "./fonts";
@import "./variables";
@import "./utils";
@import "./navigation";
@import "./masonry";
@import "./footer";

body {
  font-family: "regular";
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

p {
  line-height: 27px;
  font-size: 18px;

  @include breakpoint-up(lg) {
    line-height: 24px;
    font-size: 16px;
  }
}

h1 {
  font-size: 32px;
  line-height: 40px;

  @include breakpoint-up(lg) {
    line-height: 1.5;
    font-size: 40px;
  }
}

h1,
h2,
h3 {
  font-family: "bold";
  font-weight: normal;
}

section {
  margin-bottom: 32px;

  @include breakpoint-up(lg) {
    margin-bottom: 64px;
  }
}

header {
  top: 0;
  z-index: 2;
  background-color: white;
  position: sticky;

  @include breakpoint-up(lg) {
    padding: 20px 16px 0 16px;
  }
}

main {
  margin: 0 auto;
  max-width: 1260px;
  padding: 128px 16px 16px 16px;

  @include breakpoint-up(lg) {
    padding: 0 32px 32px 32px;
  }
}

.gallery {
  width: 100%;
  overflow-x: auto;

  & .gallery-wrapper {
    display: flex;

    & .gallery-item {
      height: 180px;
      margin: 4px;
      box-sizing: border-box;

      @include breakpoint-up(lg) {
        height: 300px;
      }

      & img {
        display: block;
        height: 100%;
      }
    }
  }
}
